.container {
    text-align: center;
}
.nameDiv {
    background-color: #424242;
    color: white;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 20px;
    font-stretch: expanded;
}
.nameDiv:after {
    content: " ";
    display:block;
    position: relative;
    top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(white 0%, transparent 0%), linear-gradient(135deg, white 33.33%, transparent 33.33%) 0 0%, white linear-gradient(45deg, white 33.33%, white 33.33%) 0 0%;
    background: -webkit-linear-gradient(white 0%, transparent 0%), -webkit-linear-gradient(135deg, white 33.33%, transparent 33.33%) 0 0%, white -webkit-linear-gradient(45deg, white 33.33%, #424242 33.33%) 0 0%;
    background: -o-linear-gradient(white 0%, transparent 0%), -o-linear-gradient(135deg, white 33.33%, transparent 33.33%) 0 0%, white -o-linear-gradient(45deg, #424242 33.33%, #424242 33.33%) 0 0%;
    background: -moz-linear-gradient(white 0%, transparent 0%), -moz-linear-gradient(135deg, white 33.33%, transparent 33.33%) 0 0%, white -moz-linear-gradient(45deg, #424242 33.33%, #424242 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }
#name {
    margin: 0px
}
p {
    font-size: 18px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 300px;
    color: rgb(95, 95, 95);
}
ul {
    list-style: none;
    text-align: left;
    justify-content: left;
}
li {
    padding: 4px;
    color: rgb(95, 95, 95);
}
.contentDiv {
    Display: flex;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    height: 250px;
    background-image:
}
.sectionTitle {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
    margin-top: 0;
}
.basics {
    margin: 30px;
    margin-top: 0px;
    text-align: center;
}
.story {
    justify-content: flex-start;
    margin: 20px;
    margin-top: 0px;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;
}
#picture {
    margin: 20px;
    margin-top: 0px;
    margin-right: 170px;
}
img {
    max-height: 200px;
    border-radius: 200px;
}